*{
box-sizing:border-box;
margin:0;
padding:0;
font-family: "Segoe UI", sans-serif;
}

body{
background:#f4f6f9;
color:#333;
}


.layout{
display:flex;
height:100vh;
width:100%;
}


.sidebar{
width:250px;
background:#1e293b;
color:white;
display:flex;
flex-direction:column;
padding:20px;
}

.logo{
font-size:22px;
margin-bottom:20px;
font-weight:600;
}


.menu-btn{
background:#334155;
border:none;
color:white;
padding:10px;
cursor:pointer;
border-radius:6px;
margin-bottom:10px;
text-align:left;
transition:0.3s;
}

.menu-btn:hover{
background:#475569;
}



.submenu{
max-height:0;
overflow:hidden;
transition:max-height 0.3s ease;
}

.submenu.open{
max-height:300px;
overflow-y:auto;
}
.submenu.open{
max-height:400px;
}


.dep-item{
width:100%;
border:none;
padding:8px;
margin-bottom:5px;
background:#1e293b;
color:white;
text-align:left;
cursor:pointer;
border-radius:5px;
transition:0.2s;
}

.dep-item:hover{
background:#475569;
}

.dep-item.active{
background:#2563eb;
}


.logout-btn{
margin-top:auto;
background:#ef4444;
border:none;
padding:10px;
color:white;
border-radius:6px;
cursor:pointer;
}

.logout-btn:hover{
background:#dc2626;
}


.contenido{
flex:1;
padding:30px;
overflow:auto;
}


.titulo{
font-size:24px;
margin-bottom:20px;
}


.card{
background:white;
border-radius:10px;
padding:20px;
margin-bottom:25px;
box-shadow:0 2px 8px rgba(0,0,0,0.08);
}


.card-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.card-header h3{
font-size:18px;
}


.badge{
background:#2563eb;
color:white;
padding:4px 10px;
border-radius:20px;
font-size:12px;
}


.tabla-wrapper{
width:100%;
overflow-x:auto;
overflow-y:hidden;
border-radius:8px;
}

.tabla-poa{
border-collapse:collapse;
width:1500px; 
}

.tabla-poa thead{
background:#1e293b;
color:white;
}

.tabla-poa th{
padding:10px;
font-size:13px;
text-align:left;
white-space:nowrap;
}

.tabla-poa td{
padding:10px;
border-bottom:1px solid #eee;
font-size:13px;
white-space:nowrap;
}

.tabla-poa tr:hover{
background:#f1f5f9;
}


.estado{
padding:4px 8px;
border-radius:6px;
font-size:12px;
font-weight:600;
text-transform:capitalize;
}

.estado.aprobado{
background:#16a34a;
color:white;
}

.estado.pendiente{
background:#f59e0b;
color:white;
}

.estado.rechazado{
background:#dc2626;
color:white;
}